@import "container";
@import 'mixins.scss';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Nunito;
}

body {
  margin: 0;
}

@font-face {
  font-family: Nunito;
  src: url("@/assets/fonts/Nunito-Regular.ttf");
}
